.banner{
    background:linear-gradient(180deg,#111111 0%,rgba(17,17,17,0)100%),url(img/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn2{
  height: 50px;
  background: var(--primary-color) !important;
  color: var(--white)!important;
  
}



.btn1{
  width: 100%;
  
}
/* Slider section Responsivr for smalldevice  */
@media only screen and (max-width: 576px){
    .slider-img{
      width: 300%!important;
    }
  }
  @media only screen and (min-width: 992px){
    .slider-img{
      width: 100%!important;
    }
  }